{% trans_default_domain 'contactForm' %}

{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width initial-scale=1.0" />
            <meta name="format-detection" content="telephone=no" />
            <title>{{ 'label.contact'|trans }}</title>
            <base />
{# Css #}
            {% block css %}
                {# Uses c975L/IncludeLibraryBundle #}
                {{ inc_lib('bootstrap', 'css', '3.*') }}
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block contactform_content %}
        {% endblock %}
    </body>
</html>
{% endspaceless %}