{% extends "@c975LContactForm/layout.html.twig" %}
{% trans_default_domain 'contactForm' %}
{% set title = 'label.dashboard'|trans({}, 'toolbar') %}

{% block contactform_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LContactForm/tools.html.twig', 'dashboard', 'md') }}
{# Configuration #}
    <p class="text-center">
        {{ toolbar_button_text(path('contactform_config'), 'config') }}
    </p>
{% endblock%}